<meta name="description" content="{{ _('Sitio web para mostrar información relativa a los Presupuestos del Ayuntamiento de Castellón de la Plana') }}">
<meta name="keywords" content="{{ _('presupuestos, gastos, ingresos, ayuntamiento, Castellón de la Plana') }}">
<meta name="author" content="{{ _('Ayuntamiento de Castellón de la Plana') }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="{{ _('Presupuestos de Castellón de la Plana') }}" />
<meta property="og:description" content="{{ _('Información sobre los Presupuestos de Castellón de la Plana') }}" />